---
interface Props {
	title: string;
}

const { title } = Astro.props;
import InteractiveParticles from "../components/InteractiveParticles.astro";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portafolio de Coco" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body
		class="bg-[#0a0a0a] text-white font-['Onest'] selection:bg-purple-500 selection:text-white"
	>
		<InteractiveParticles />
		<slot />
	</body>
</html>

<style is:global>
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
</style>
